<div id="scene">
  <div data-depth="0.5">
    <ng-container *ngIf="is1WaveRendered">
      <div class="periodic-hesitation"></div>
      <div class="bottom-top">
        <div style="position: relative; width: 100vw; height: 100vh">
          <img alt="wave-back"
               style="position: absolute; bottom: -70px; width: 120%; left: -10%"
               src="../assets/wave-back.svg"/>
        </div>
      </div>
    </ng-container>
  </div>
  <div data-depth="0.6">
    <div *ngIf="is3waveRendered" style="position: relative; width: 100vw; height: 100vh">
      <div class="periodic-hesitation"></div>
      <div class="bottom-top">
        <img alt=""
             style="position: absolute; bottom: -70px; width: 120%; left: -10%"
             src="../assets/wave-front.svg"/>
      </div>
    </div>
  </div>
  <div data-depth="0.7">
    <div style="position: relative; width: 100vw; height: 100vh" class="d-flex">
      <div style="height: 50%" class="mt-auto position-relative w-100">
          <img *ngFor="let item of bottomItems"
               class="position-absolute"
               width="50"
               [ngClass]="{'d-none': !item.isRendered}"
               [@bounceInUp]="item.isRendered"
               [src]="'../assets/bottom-items/' + item.type + '.png'"
               [alt]="item.type"
               [ngStyle]="{'bottom': item.bottom, left: item.left}"/>
      </div>
    </div>
  </div>
  <div data-depth="0.8">
    <ng-container *ngIf="is2WaveRendered">
      <div class="periodic-hesitation"></div>
      <div class="bottom-top">
        <div style="position: relative; width: 100vw; height: 100vh">
          <img alt="wave-line"
               style="position: absolute; bottom: -70px; left: -10%; width: 110%"
               src="../assets/wave-line.svg"/>
        </div>
      </div>
    </ng-container>
  </div>
</div>


<div *ngIf="isHeaderRendered"
     style="top: 20px"
     class="position-fixed animated fadeIn d-flex justify-content-between w-100 px-3">
  <img alt="logo"
       src="../assets/logo.svg"/>
  <button nz-button
          [nzType]="selectedIndex ? 'default' : 'primary'"
          (click)="onSwitchTab()"> {{selectedIndex ? 'Back' : 'Sign in'}}
  </button>
</div>
<div style="top: 25vh; height: 500px" class="position-fixed w-100" [ngSwitch]="selectedIndex">
  <div *ngSwitchCase="tabs.Welcome"
       class="d-flex justify-content-around"
       [@fadeOutUp]="isSwitchingTab">
    <div [ngClass]="{'d-none': !isSloganRendered}"
         [@fadeInUp]="isSloganRendered">
      <h1 style="font-size: 66px">
        Algo<span class="text-primary font-weight-bold">/</span>Platform
      </h1>
      <p style="font-size: 16px" class="font-weight-bold">
        Set. Start. Rule the market
      </p>
    </div>
    <div style="width: 395px" class="position-relative" [@fadeInUp]="isSloganRendered">
      <div *ngFor="let candle of candles let index = index"
           class="position-absolute"
           [ngStyle]="{'top': candle.top, left: index * 25 + 'px'}"
           (mouseenter)="candle.isHover = true"
           (mouseleave)="candle.isHover = false">
        <img *ngIf="candle.isRendered"
             class="animated fadeIn candle"
             [alt]="'candle_' + index"
             [src]="'../assets/candles/candle ' + (index + 1) + (candle.isHover ? ' active' : '') + '.svg'"/>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="tabs.Login" class="d-flex justify-content-center">
    <app-request-wrapper [request$]="login$">
      <nz-card style="width:350px" class="border-dark rounded">
        <app-reactive-input fieldId="login" label="Login"
                            [control]="fg.get('login')">
        </app-reactive-input>
        <app-reactive-input fieldId="password" label="Password"
                            type="password"
                            [control]="fg.get('password')">
        </app-reactive-input>
        <div class="d-flex justify-content-center">
          <button nz-button
                  nzType="primary"
                  nzShape="round"
                  style="width: 200px"
                  (click)="onSubmit()"> Sign in
          </button>
        </div>
      </nz-card>
    </app-request-wrapper>
  </div>
  <div *ngSwitchCase="tabs.Scopes" class="d-flex justify-content-center">
    <ng-template nz-tab>
      <app-request-wrapper #scopesResponse [request$]="scopes$">
        <div class="d-flex justify-content-center">
          <div *ngIf="scopesResponse.data?.length else noInfoTmp"
               class="d-flex flex-row flex-nowrap">
            <nz-card *ngFor="let item of scopesResponse.data"
                     style="width: 300px"
                     class="mx-2"
                     [nzActions]="[navigationActionTmp]">
              <nz-card-meta [nzTitle]="item['applicationName']"
                            [nzDescription]="item['applicationDescription']"
                            [nzAvatar]="avatarTemplate">
              </nz-card-meta>
              <ng-template #avatarTemplate>
                <nz-avatar [nzText]="item['applicationName'] | acronym"></nz-avatar>
              </ng-template>
              <ng-template #navigationActionTmp>
                <a [href]="item['applicationPath']">Go to</a>
              </ng-template>
            </nz-card>
          </div>
        </div>
      </app-request-wrapper>
    </ng-template>
  </div>
</div>
<img alt="logo-right"
     src="../assets/logo-right.svg"
     width="360"
     style="bottom: -180px; right: -180px"
     class="position-fixed"
     [ngClass]="{'d-none': !isBottomLogoRendered}"
     [@rotateInUpLeft]="isBottomLogoRendered"/>

<ng-template #noInfoTmp>
  <p class="text-center">No data to display</p>
</ng-template>
