<div id="scene">
  <div data-depth="0.5">
    <ng-container *ngIf="is1WaveRendered">
      <div class="periodic-hesitation"></div>
      <div class="bottom-top">
        <div style="position: relative; width: 100vw; height: 100vh">
          <img alt="wave-back"
               style="position: absolute; bottom: -70px; width: 120%; left: -10%"
               src="../assets/wave-back.svg"/>
        </div>
      </div>
    </ng-container>
  </div>
  <div data-depth="0.6">
    <div *ngIf="is3waveRendered" style="position: relative; width: 100vw; height: 100vh">
      <div class="periodic-hesitation"></div>
      <div class="bottom-top">
        <img alt=""
             style="position: absolute; bottom: -70px; width: 120%; left: -10%"
             src="../assets/wave-front.svg"/>
      </div>
    </div>
  </div>
  <div data-depth="0.7">
    <div style="position: relative; width: 100vw; height: 100vh" class="d-flex">
      <div style="height: 50%" class="mt-auto position-relative w-100">
        <img *ngFor="let item of bottomItems"
             class="position-absolute"
             width="50"
             [ngClass]="{'d-none': !item.isRendered}"
             [@bounceInUp]="item.isRendered"
             [src]="'../assets/bottom-items/' + item.type + '.png'"
             [alt]="item.type"
             [ngStyle]="{'bottom': item.bottom, left: item.left}"/>
      </div>
    </div>
  </div>
  <div data-depth="0.8">
    <ng-container *ngIf="is2WaveRendered">
      <div class="periodic-hesitation"></div>
      <div class="bottom-top">
        <div style="position: relative; width: 100vw; height: 100vh">
          <img alt="wave-line"
               style="position: absolute; bottom: -70px; left: -10%; width: 110%"
               src="../assets/wave-line.svg"/>
        </div>
      </div>
    </ng-container>
  </div>
</div>


<div *ngIf="isHeaderRendered"
     style="top: 20px"
     class="position-fixed animated fadeIn d-flex justify-content-between w-100 px-3">
  <img alt="logo"
       src="../assets/logo.svg"/>
  <button nz-button
          [nzType]="selectedIndex ? 'default' : 'primary'"
          (click)="onSwitchTab()"> {{selectedIndex ? 'Back' : 'Sign in'}}
  </button>
</div>
<div style="top: 25vh; height: 500px" class="position-fixed w-100" [ngSwitch]="selectedIndex">
  <div *ngSwitchCase="tabs.Welcome"
       class="d-flex justify-content-around"
       [@fadeOutUp]="isSwitchingTab">
    <div [ngClass]="{'d-none': !isSloganRendered}"
         [@fadeInUp]="isSloganRendered">
      <h1 style="font-size: 66px">
        Algo<span class="text-primary font-weight-bold">/</span>Platform
      </h1>
      <p style="font-size: 16px" class="font-weight-bold">
        Set. Start. Rule the market
      </p>
    </div>
    <div style="width: 395px" class="position-relative" [@fadeInUp]="isSloganRendered">
      <div *ngFor="let candle of candles let index = index"
           class="position-absolute"
           [ngStyle]="{'top': candle.top, left: index * 25 + 'px'}"
           (mouseenter)="candle.isHover = true"
           (mouseleave)="candle.isHover = false">
        <img *ngIf="candle.isRendered"
             class="animated fadeIn candle"
             [alt]="'candle_' + index"
             [src]="'../assets/candles/candle ' + (index + 1) + (candle.isHover ? ' active' : '') + '.svg'"/>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="tabs.Login" class="d-flex justify-content-center">
    <app-request-wrapper [request$]="login$">
      <nz-card style="width:320px" class="border-0">
        <h5 class="text-center font-weight-bold mb-4">Sign in</h5>
        <div class="mb-2">
          <app-reactive-input fieldId="login"
                              placeholder="Enter your MSK login"
                              [noValidation]="true"
                              [noMarginBottom]="true"
                              [control]="fg.get('login')">
          </app-reactive-input>
        </div>
        <div class="mb-3">
          <app-reactive-input fieldId="password"
                              placeholder="Password"
                              class="mb-4"
                              type="password"
                              [noValidation]="true"
                              [noMarginBottom]="true"
                              [control]="fg.get('password')">
          </app-reactive-input>
        </div>
        <button nz-button
                nzType="primary"
                class="w-100"
                (click)="onSubmit()"> Sign in
        </button>
      </nz-card>
    </app-request-wrapper>
  </div>
  <div *ngSwitchCase="tabs.Scopes" class="d-flex justify-content-center">
    <app-request-wrapper #scopesResponse [request$]="scopes$">
      <div class="d-flex justify-content-center">
        <div *ngIf="scopesResponse.data?.length else noInfoTmp"
             style="max-width: 830px; min-width: 200px"
             class="d-flex justfy-content-center flex-wrap">
          <nz-card *ngFor="let item of scopesResponse.data"
                   style="width: 190px; min-width: 190px; height: 280px; cursor: pointer"
                   class="robot-card d-flex flex-column mx-2 mb-2">
            <div class="h-25">
              <div class="logo-container" [ngStyle]="{'background-color': item['theme']['bgColor']}">
                <i nz-icon
                   nzTheme="twotone"
                   [nzType]="item['theme']['icon']"
                   [nzTwotoneColor]="item['theme']['iconColor']">
                </i>
              </div>
            </div>
            <div class="h-50">
              <img src="assets/robot-card/mini-graph.png"
                   alt="robot-image"
                   class="image"/>
            </div>
            <div class="h-25 mt-auto">
              <h5 class="font-weight-bold">Name Robot</h5>
              <p class="text-muted">
                Go to the robot
                <i nz-icon nzType="arrow-right" class="ml-2"></i>
              </p>
            </div>
          </nz-card>
        </div>
      </div>
    </app-request-wrapper>
  </div>
</div>
<img alt="logo-right"
     src="../assets/logo-right.svg"
     width="360"
     style="bottom: -180px; right: -180px"
     class="position-fixed"
     [ngClass]="{'d-none': !isBottomLogoRendered}"
     [@rotateInUpLeft]="isBottomLogoRendered"/>

<ng-template #noInfoTmp>
  <p class="text-center">No data to display</p>
</ng-template>
