.bottom-top {
  animation: 0.5s ease-in-out alternate toTop;
  animation-iteration-count: 1;
}

.periodic-hesitation{
  animation: .2s ease-in-out alternate periodic;
  animation-iteration-count: 2;
  animation-delay: 0.5s;
}

@keyframes toTop { from { margin-top: 100vh } to { margin-top: 0 } }
@keyframes periodic { from { margin-top: 0 } to { margin-top: 120px } }
